/vendor
/bin
/node_modules
/storage/data
/public/storage
/tests/_output/*
/tests/_support/_generated/*
npm-debug.log
Homestead.yaml
Homestead.json
.env
.vagrant
.idea
.DS_Store
codecept.phar
composer.phar
tests/_support/_generated/
.resbeat.testing.localhost.env
public/js/app.js
public/js/app.js.map
public/js/md5.min.js
public/js/sweetalert.min.js
public/js/vue-tooltip/vue-tooltip.js
public/css/app.css
public/css/app.css.map
public/css/resbeat.css
public/css/resbeat.css.map
.env.migrating
bin/go.sh
yarn-error.log
/.eslintrc
/bower_components
/database/backup.sqlite
.DS_Store
staging.sqlite
testing.sqlite
database/staging.sqlite
database/testing.sqlite
storage/fonts/*
!storage/fonts
!storage/fonts/.gitkeep
storage/email-previews
storage/debugbar
