APP_ENV=acceptance
APP_DEBUG=true
APP_KEY=base64:Wa7oS1JJpKy41u6G5xSziozJrLm0H0soxpeZh6tr/EM=
APP_URL=http://resbeat.testing.localhost

DB_CONNECTION=acceptance

CACHE_DRIVER=acceptance
SESSION_DRIVER=array
QUEUE_DRIVER=sync

MAIL_DRIVER=log

# resbeat.localhost / resbeat.testing.localhost
GOOGLE_PLACES_API_KEY=AIzaSyCdJLNA6pa1AH1y5_UfyKANGawcKS_uXaQ
